*{padding:0;margin:0;}

#wrap{width:100%;}

li {
	list-style: none; 
}

a{
	text-decoration: none;
	}	
.header {
	height: 50px;
	width: 100%;
}

.nav {
	width: 900px;
	margin:0 auto;
	line-height: 50px;
}
.nav img {
	width: 50px;
	height: 50px;
	float: left;
}

.nav-btn,.nav-btn-user {
	float: right;
	margin-right: 15px;
}

.nav-btn-user {
	height: 50px;
	width: 80px;
	text-align: center;
}

.nav-btn-user a {
	position: relative;
	top: 15px;

}



.nav li a {
	color:#CC0066;
}

.nav li a:hover {
	color: red;
}



.nav-ueser li{
	border: 1px solid #E8E8E8;
	margin-top: 5px;
	width: 80px;
	text-align: center;
	left: -20px;
	display: none;
	position: relative;
	top:40px;
	left: 0;

}


.nav-btn-user:hover li{
	display: block;
}

.blackground {
	position: absolute;
	z-index: -2;
	height:800px;
	width: 100%;
	opacity: 0.8;

}

#middle .mid_top{
	height:800px;
    text-align:center;
}

.mid_top .p1{
	font-size:100px;font-family:Courier;padding-top:300px;color:#fff;
}

.mid_top .p2{
	font-size:30px;font-family:Courier;margin-top:15px;color:black;
}

.bigbut{
	margin-top:30px;
	width:180px;
	height:50px;
	background-color:#43cd80;
	border:none;
	border-radius:5px;
	font-family:Verdana;
	font-size:25px;
	color:#fff;
}

#middle .mid_mid{
	background-color:#f3f3f3;
	text-align: center;
	padding-bottom:800px;
}

.mid_mid_lists{
	padding-top:100px;
	margin:0 auto;
	width:1100px;
	text-align:center;
}

.mid_mid_lists ul{
	list-style:none;
}

.smallbut{
	width:100px;
	height:40px;
	background-color:#c1c1c1;
	border:none;
	border-radius:5px;
	font-family:Verdana;
	font-size:18px;
	color:#fff;
}

.current{
	background-color:lightgreen;
}

.mid_mid_lists .searcher{
	float:right;
	width:300px;
	height:40px;
	border:1px solid lightgray;
	border-radius:3px;
}

.mid_mid_lists ul li{
	float:left;
	display:inline-block;
	margin-right:50px;
}

.mid_mid_news{
	/*clear:both;*/
	margin:0 auto;
	width:1100px;
	display:block;
}

.mid_mid_news .news_item1{
	width:350px;
	height:350px;
	background-color:#fff;
	border:1px solid lightgray;
	margin:50px 5px 25px 0;
	float:left;
}

.mid_mid_news .news_item1 .pp{
	margin-top:10px;
}

.mid_mid_news .news_item1 img{
	width:350px;
	height:280px;
	border-bottom:6px solid lightgreen;
}

.mid_mid_news .news_item2{
	width:500px;
	height:250px;
	background-color:#fff;
	border:1px solid lightgray;
	margin:50px 30px 0 0;
	float:left;
	display:none;
}

.mid_mid_news .news_item2 .ppa{
	padding-top:25px;
	font-weight:bold;
}

.mid_mid_news .news_item2 .ppb{
	font-size:13px;
	margin-top:10px;
}

.mid_mid_news .news_item2 .ppc{
	text-align:left;
	margin-top:10px;
	font-size:13px;
}

.mid_mid_news .news_item2 img{
	width:230px;
	height:200px;
	border-radius:50px;
	float:left;
	padding:25px;
}

.mid_mid_news .news_item3{
	width:350px;
	height:350px;
	background-color:#fff;
	border:1px solid lightgray;
	margin:50px 5px 25px 0;
	float:left;
	margin-right:10px;
	display:none;
}

.mid_mid_news .news_item3 .pp{
	margin-top:20px;
}

.mid_mid_news .news_item3 img{
	width:350px;
	height:280px;
	border-bottom:6px solid lightgreen;
}

#middle .mid_bot{
	height:450px;
	background-color:#fff;
	text-align:center;
	clear:both;
}

#middle .mid_bot .pd{
	margin-top:150px;font-family:Verdana;font-size:22px;color:#a9d3eb;font-weight:bold;
}


.footer {
	bottom: 0;
	height: 120px;
	width: 100%;
	background-color: #202020;
	clear:both;
}

.footer-wrap {
	width: 900px;
	margin:0 auto;
	overflow:hidden;
	clear:both;
}

.footer-nav{
	margin-top: 25px;
	font-size:15px;
}

.copyright {
	margin-top: 25px;
	font-size: 10px;
}


.footer-nav li,.copyright li{ 
	float:left;
	margin-right: 10px; 
}


.footer a{
	color: #C8C8C8;
}


.footer a:hover{
	color: white;
}

.copyright a {
	color: #909090;
}

.contact-us {
	margin-top: 25px;
	float: right;
	color: #C8C8C8
}

.contact-us li {
	float: left

}